.logo{
    padding-left : -10px;

}

.list-group{
    font-size : x-small;
    border : white;

}

.py-5{
    padding-left: 50px;


}
.item{
    margin-bottom: 20px;

}
h2{
    padding-left: 40px;

}
.nav-item{
    border-width: 2px;
    border-color: #807e7e;


}
.col-sm{

    padding-left: 250px;
    padding-top: 30px;

}
h5{
margin-right: 800px;
    background: #31a21f;
    color : #d6eaea;
    
}
.footer{
    padding-top: 80px;
margin-right: 700px;

}
.container_footer{
    background: #f3f3f3;
    margin-right: 40px;
    
}
.footer_left{
    margin-right: 700px;


}
.info_center{
    padding-left: 800px;
    padding-left: 800px;


}