.list-group{
    border: none;
}
.navigation{
    max-width: 100%;
}
body{
    background-color: #d2d2d2;
}

.main-content{
    background-color: #ffffff;
}

.logo{
    padding-left : -10px;

}
.btn-outline-info{
    border-color: white;
    color: black;

}
.head-panel{
    background: black;
}
.head-panel-text{
    color: white;
}

.list-group{
    font-size : x-small;
    border : white;

}


.py-5{
    max-width: 100%;



}
.item{
    margin-bottom: 20px;


}
h2{
    padding-left: 40px;

}

.nav-item{
    border-width: 2px;
    border-color: #ff0000;


}
.col-sm{

    padding-left: 250px;
    padding-top: 30px;

}
h5{
    margin-right: 800px;
    background: #31a21f;
    color : #d6eaea;

}

footer{
    background: #ffffff;
    font-size: 15px;
    margin-left: -50px;
}

.p{
    font-size: 15px;
}

.foot-info{
    background: #071022;
}

.information{
    background: #071022;
    max-width: 100%;


}

.but{
    background-color:#071022;

}

.but_url{
    color: white;
}



.about{
    color: white;
    font-size: 15px;

}